* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1 {
	font-size: 60px;
	font-weight: 700;
	font-style: italic;
}
h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-style: italic;
	color: #303030;
	font-weight: 600;
	margin-bottom: 30px;
}
h3 {
	font-size: 20px;
	font-weight: 700;
}
h4 {
	font-size: 16px;
}
body {
	line-height: 1.8;
	background-color: #ffffff;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
p.asterisk {
	font-size: 10px;
	color: grey;
}
a, a:hover, a:focus {
	color: #e4742e;
}
ul {
	margin: 0;
}
h1, h2, h3, .firstLetter, .navbar li a {
	font-family: 'Orbitron', sans-serif;
}
.mobile {
	display: none !important;
}
.desktop {
	display: block !important;
}
.bg-grey {
	background-color: #f6f6f6;
}
.bg-white {
	background-color: #ffffff;
}
span.b {
	font: inherit;
}
h1 .b {
	font-size: 75px;
}
h2 .b {
	font-size: 32px;
}
.btn-primary {
	background-color: #e4742e;
	border: none;
}
.btn-primary:hover {
	background-color: #ad5016;
}
.text-primary {
	color: #e4742e !important;
}

.list-social > li {
	display: inline-block;
	width: 40px;
	padding: 5px;
}
.list-social a:hover {
	opacity: 0.8;
}

/*ANIMATION*/
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(150px);
	} 
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes zoom {
	from {
		transform:scale(0);
	} 
	to {
		transform:scale(1);
	}
}

@media screen and (max-width: 1061px) {}

@media screen and (max-width: 989px) {}

@media screen and (max-width: 767px) {
	.mobile {
		display: block !important;
	}
	.desktop {
		display: none !important
	}
}

@media screen and (max-width: 498px) {}