a {
	font-style: italic;
}
.container-fluid {
	box-shadow: 0 3px 20px #888;
}

/*SERVICES*/
#services .card-img-top {
	height: 200px;
	object-fit: cover;
}

/*TRUCKING*/
#trucking svg {
	fill: #e4742e;
	height: 54px;
	width: 54px;
}

/*EQUIPMENT*/
#equipment [class^="col-"] {
	overflow: hidden;
	height: 300px;
}
#equipment img {
	object-fit: cover;
}

/* MODAL */
.arrow {
	height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    transition: 0.3s ease;
}
.arrow:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
.arrow .glyphicon {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	padding: 16px 10px;
	color: #ffffff;
	font-size: 20px;
	transition: 0.3s ease;
}
#next {
	right: 0;
}
.numberText {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	transition: all 0.5s ease;
}
#prev:hover + .numberText {
    margin-left: 50px;
}

/*CONTACT*/
#contact .glyphicon {
	color: #000000;
	font-size: 50px;
}
#contactInfo h2{
	margin-bottom: 30px;
}
#contactInfo p {
	margin-bottom: 25px;
}
.panel {
	background-color: #ffafaf;
}
/*.form-group {
	padding: 0px;
}*/

/*CAROUSEL*/
.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #e4742e;
}
.carousel-indicators {
	bottom: -35px;
	z-index: 5;
}
.carousel-indicators li {
	border-color: #e4742e;
}
.carousel-indicators li.active {
	background-color: #e4742e;
}

/*RESIZE*/
@media screen and (max-width: 1061px) {
	.profpic {
		margin: auto;
	}
	.profile {
		display: block;
		text-align: center;
	}
}

@media screen and (max-width: 957px) {
	#services span img {
		height: 110px;
	}
}

/*XS*/
@media screen and (max-width: 767px) {
	h1 {
		font-size: 40px;
	}
	h1 .b {
		font-size: 48px;
	}
	/*h1 {
		font-size: 50px;
	}
	.navbar {
		padding: 0;
	}
	.bottomLink {
		text-align: center;
	}

	#title {
		text-align: center;
		position: relative;
		top: 100px;
		height: 250px;
		padding-top: 50px;
	}
	.row > div {
		padding: 15px 0px;
	}
	#trucking h2 {
		margin-top: 50px;
		margin-bottom: 0;
	}
	#trucking .row {
		padding: 0;
	}
	#rentals ul {
		margin-bottom: 0px;
	}
	.profileParent {
		margin: 25px 0px;
	}
	.profpic {
		margin: 0;
		margin-right: 15px;
	}
	.profile {
		text-align: left;
		display: flex;
		justify-content: center;
		align-items:center;
		overflow: hidden;
	}
	#contactInfo h2 {
		padding-bottom: 0;
	}*/
}

/*@media screen and (max-width: 498px) {
	h1 {
		font-size: 40px;
	}
	#title {
		padding: 0px 10px;
	}
	.modal {
		padding-top: 200px;
	}
	.profpic {
		margin: auto;
	}
	.profile {
		display: block;
		text-align: center;
	}
}*/
@media screen and (max-width: 372px) {
	.g-recaptcha {
		margin-left: -35px;
	}
}